{% extends 'inner-base.html' %}
{% load static %}

{% block body_block %}
<div class="well">
  <h3><strong>आकाश टैबलेट का तकनी‍की प्रारूप</strong></h3>
  <div>

    <table class="center table table-responsive table-bordered
		  table-striped" border='1' align='center'>
      <col width='250'>
      <col width='250'>
      <col width='250'>

      <tr>
	<th>संस्‍करण </th>
	<th>आकाश-II </th>
	<th>आकाश-I </th>
      </tr>

      <tr>
	<td>प्रोसेसर</td>
	<td>कॉटेक्‍स A8; 1 गीगाहर्टज </td>
	<td>ए आर एम 11 - 366 मेगाहर्टज</td>
      </tr>

      <tr>
	<td>रैम मैमोरी </td>
	<td>512 एम.बी.  </td>  
	<td>256 एम.बी. </td> 
      </tr>

      <tr>
	<td>आंतरिक स्‍टोरेज </td>
	<td>4 जी.बी.</td>  
	<td>2 जी.बी. </td>  
      </tr>

      <tr>
	<td>आपरेटिंग सिस्‍टम </td>
	<td>ऐंड्राईड 4.0.4 </td> 
	<td>ऐंड्राईड 2.2 </td>  
      </tr>

      <tr>
	<td>टच पैनल</td>
	<td>कैपासिटिव </td> 
	<td>रजिस्टिव </td>  
      </tr>

      <tr>
	<td>कैमरा </td>
	<td>फ्रंट&nbsp;&#45;&nbsp; व्‍ही. जी. ए. </td>
	<td>फ्रंट&nbsp;&#45;&nbsp; व्‍ही. जी. ए. </td> 	
      </tr>

      <tr>
	<td>बैटरी</td>
	<td>3200 mAh</td>  
	<td>2100 mAh</td>  
      </tr>

      <tr>
	<td>डिस्‍प्‍ले साईज </td>
	<td>7 इंच </td>  
	<td>7 इंच </td>  
      </tr>

      <tr>
	<td>डिस्‍प्‍ले रिजल्‍यूशन</td>
	<td>800×480 पिक्‍सल </td>  
	<td>800×480 पिक्‍सल </td>  
      </tr>

      <tr>
	<td>नेटवर्क</td>
	<td>Wi-Fi IEEE 802.11 a/b/g</td>  
	<td>Wi-Fi </td>  
      </tr>

      <tr>
	<td>अतिरिक्‍त स्‍टोरेज </td>
	<td>अधिक्‍तम 32 जी. बी.  </td>  
	<td>अधिक्‍तम 32 जी. बी. </td>  
      </tr>

      <tr>
	<td>व्‍हीडियो उच्‍चतम निर्धारण </td>
	<td>हॉ</td>  
	<td>हॉ</td>  
      </tr>

      <tr>
	<td>फोन (कालिंग सुविधा)</td>
	<td>नही</td>  
	<td>नही</td>  
      </tr>

      <tr>
	<td>अतिरिक्‍त सुविधाऍ</td>
	<td>माईक्रो एस.डी., माईक्रो यू.एस.बी.</td> 
	<td> यू.एस.बी. 2</td>  
      </tr>

    </table> 
  </div>
</div>
{% endblock body_block %}
