{% extends 'inner-base.html' %}
{% load static %}

{% block body_block %}
<div class="well">
  <h3><strong>टैबलेट वितरण एवं जांच </strong></h3>
  <div style="padding-right:15px;  float:left;">
    <img class="set img-thumbnail img-responsive"
	 src="{% static 'images/aakash_tablet.jpg' %}"
	 align='left' height="140" width="200" > 
  </div>

  <p align="justify">
    भारतीय प्रौद्योगिकी संस्‍थान मुम्‍बई द्वारा कुल 1,00,000 नग टैबलेट डाटाविंड कम्‍प्‍नी से प्राप्‍त किये गये। 
    जिन्‍हें भा.प्रौ.सं. मुम्‍बई द्वारा आपने दूरस्‍थ आकाश केंद्रों जो कि देश के भिन्‍न-भिन्‍न इंजीनियरिंग कालेज है, को प्रदाय किया गया।भा. प्रौ. सं. मुम्‍बई के दूरस्‍थ केंद्रों को वितरित किये गये टैबलेट के पावती की अधिक जानकारी के लिये देखें 
	   
    <a href=http://www.it.iitb.ac.in/aakash2/dispatchDetailsForManager.jsp
       target="_blank">आकाश टैबलेट वितरण की जानकारी।</a>
    <br>
    
    आकाश सम्‍बंधी समस्‍त गतिविधियों के लिये भा. प्रौ. सं. खडगपुर, भा. प्रौ. सं. मुम्‍बई का साझेदार है, भा. प्रौ. सं. खडगपुर, द्वारा पूर्व तथा उत्‍तर भारत के नये दूरस्‍थ आकाश केंद्रों
 को अनुसंधान एवं विकास, परीक्षण हेतु आकाश टैबलेट भेजने की 
 जिम्‍मेदारी निभा रहा है।
	
	  </p>
  
  <h4>परीक्षण</h4>
  <h5><strong>सी-डैक "C-DAC" (तिरूअनंतपुरम) द्वारा प्रयोगशाला परीक्षण</strong></h5> 

  <p align="justify">
    सी-डैक "C-DAC" तिरूअनंतपुरम को मानव संसाधन विकास मंत्रालय द्वारा भा. प्रौ. सं. मुम्‍बई में संचालित आकाश परियोजना के अंतर्गत परियोजना के एक भाग के रूप में आकाश टैबलेट के नमूनों की प्रयोगशाला परीक्षण का कार्य सौंपा गया है। 
	</br> उक्‍त प्रयोगशाला जांच का कार्य सी-डैक "C-DAC" द्वारा निम्‍न पांच चरणों में पूरा किया गया :
  </p>

  <div style="padding-left:15px ; padding-right:1.5cm;  float:right;">
  	   <img src="{% static 'images/CDAC4.jpg' %}" align="right"
	   height="100" width="250" style="padding-left:15px;
	   padding-right:2px;" class="img-thumbnail img-responsive">
  </div>

  <ul >
    <li>आकाश जांच प्रतिवेदन स्‍तर दिनांक 22 अगस्‍त सन 2012  </li>
    <li>आकाश जांच प्रतिवेदन स्‍तर दिनांक 30 मई सन 2013</li>
    <li>ई.आर.टी.एल जांच प्रतिवेदन दिनांक 15 अप्रैल सन 2013 </li>
    <li>आकाश जांच प्रतिवेदन स्‍तर दिनांक 08 जुलाई सन 2013 </li>
    <li>आकाश जांच प्रतिवेदन दिनांक 08 जुलाई सन 2013 </li>
  </ul>

  <p align="justify">
    <a href="{% static 'doc/Aakash_Status_2013_08_19_CDAC_LabTest.pdf' %}"
       target="_blank">सी-डैक "C-DAC" तिरूअनंतपुरम द्वारा प्रदायित अंतिम जांच प्रतिवेदन दिनांक 08 जुलाई 2013.
    </a>
  </p>

  <h5><strong>क्षेत्र परीक्षण </strong></h5>
  <p align="justify">
    भा. प्रौ. सं. मुम्‍बई द्वारा अपने दूरस्‍थ आकाश केंद्रों (APCs)के माध्‍यम से संपूर्ण क्षेत्र परीक्षण का कार्य संपादित किया। 
    <br>
    <a href="{% static 'doc/Aakash_Status_2013_08_19_FieldTrial.pdf' %}"
       target="_blank">आकाश टैबलेट पर अनुसंधान एवं विकास तथा जांच की क्षेत्र परीक्षण परीणाम प्रतिवेदन देखें। 
    </a>
  </p>
      
</div> <!-- well -->
{% endblock body_block %}
