{% extends 'inner-base.html' %}
{% load static %}

{% block body_block %}
<div class="well">
  <div class="col-md-9">

    <h3><strong>आकाश का भविष्‍य</strong></h3>
    
    <p align="justify">
      मानव संसाधन विकास मंत्रालय द्वारा उच्‍च स्‍तरीय बैठक में शासन स्‍तर पर संपूर्ण विचार विमर्श के उपरांत भारत सरकार की महत्‍वाकांक्षी आकाश IV परियोजना का अनुमोदन प्रदाय किया था, 	एवं न्‍यूनतम मूल्‍य वाले इस आकाश टैबलेट के निर्माण कार्य शीघ्रातिशीघ्र आरंभ करने हेतु एक कैबिनेट नोट जल्‍द ही प्रेषित करने हेतु आश्‍वस्‍थ किया था। 	  	 <br />
उक्‍त प्रस्‍ताव के तहत्  मानव संसाधन विकास मंत्रालय, निर्देशालय आपूर्ति एवं निस्‍तारण, वाणिज्‍य विभाग (आपूर्ति प्रभाग),वाणिज्‍य एवं उद्योग मंत्रालय, (DGS&D)के माध्‍यम से 22,00,000 ( बाबीस लाख) नग टैबलेट क्रय करना प्रस्‍तावित किया गया, जिसकी कुल अनुमानित राशि रूपये 330/- करोड तय की गई। विस्‍तृत विवरण हेतु निम्‍नलिखित लिंक देखें :-
      </br></br>
      <ul>
	<li>
	  <a href="{% static 'doc/Technical_details_Specification_Aakash4.pdf' %}"
		 target="_blank">
	    आकाश IV का तकनीकी विवरण प्रत्‍यर्पण वर्ष दिनांक (01/01/2014 से 31/12/2014 तक)		
	  </a></br>
	  <small>( दिनांक 27/01/2014 को स्रोत: www.dgsnd.gov.in से डाउनलोड किया गया। )</small>

	<li>
	  <a href="{% static 'doc/TenderDoc_Aakash4.pdf' %}"
	       target="_blank"> निविदा जांच की अनुसूची
	  </a></br>
	  <small>( दिनांक 27/01/2014 को स्रोत: www.dgsnd.gov.in से डाउनलोड किया गया। )</small>
	  <br />
</ul>

	  <p>	परियोजना के प्रथम चरण में आकाश IV टैबलेट का वितरण इंजीनियरिंग संस्‍थानों का प्रदाय करने का प्रावधान रखा गया है।	जिसे उनके द्वारा प्रदायकर्ता एजेंसी से डी.जी.एस. एंड डी. (DGS&D)के माध्‍यम से क्रय किया जा सकता है।	आकाश IV टैबलेट विद्यार्थियों के लिये उचित मूल्‍य पर शासन स्‍तर पर निर्धारित न्‍यूनतम अनुमानित राशि 35 यू.एस. डालर प्रति नग पर दिये जाने का प्रावधान है।
	   
	  </p>

	  <p>आकाश का यह नया संस्‍करण विद्यार्थियों को उनकी क्षेत्रीय भाषाओं में जैसे हिन्‍दी, कन्‍नड, पंजाबी, गुजराती, तमिल, मलयालय, मणीपुरी एवं अन्‍य में पढने एवं लिखने के साथ - साथऑडियो-व्‍हीडियो चैट की भी सुविधा प्रदाय करता है।
	    
	  </p>  </div> <!-- col -->
</div> <!-- well -->
{% endblock body_block %}

