{% extends 'inner-base.html' %}
{% load static %}

{% block body_block %}

<div class="well">
  <div class="col-md-9" id="">     
    <strong>आकाश II</strong> का अनावरण, भारत के महामहीम राष्‍ट्रपति <strong>माननीय श्री प्रणब मुखर्जी जी  </strong>द्वारा दिनांक 10 नबम्‍वर 2012 को किया गया।

    <div align="justify">
      <p align="justify">
	<div style="padding-right:15px; float:left;">
	  <img src="{% static 'images/aakash-2-launch-india.jpg' %}"
	       style="width:300px;"
	       class="img-thumbnail"/>
	</div>

प्रत्‍येक भारतीय को उच्च गुणवत्ता की शिक्षा प्राप्त  करने के अवसर की अभिलाषा रहती है।
	प्रशिक्षित अध्यापकों की कमी इस महत्‍वाकांक्षा में व्‍यवधान उत्‍पन्‍न करती है। 
	किफायती रूप से उत्कृष्‍ठ शैक्षणिक विषयवस्तु तक पंहुचना इस समस्या को और भी अधिक प्रबल बनाती है। 
	सूचना एवं संचार प्रौद्योगिकी का प्रभावी उपयोग इन दोनों मुद्दों की सारगर्भित रूप से व्‍याख्‍या करने में सहायता प्रदान करता है। 
	भारत शासन द्वारा लोकार्पित आकाश टैबलेट, इन उद्देश्यों की पूर्ति करने के लिये सूचना एवं संचार प्रौद्योगिकी (ICT) के एक प्रमुख साधन के रूप में उभरा है।
	आकाश टैबलेट का उपयोग जब समम्लित रूप से राष्ट्रीय ज्ञान नेटवर्क  / <a target="_blank"
	href="http://www.nkn.in/"> National Knowledge Network(NKN)</a>,
	के साथ होता है, तब आकाश टैबलेट विद्यार्थियों तथा शिक्षकों के लिये एक व्‍यापक एवं प्रभावी सूचना एवं संचार प्रौद्योगिकी (ICT)टूल की सर्वोच्‍य पराकाष्‍ठा बन जाती है। 
	<br><br>
      </p>


      <div style="direction:ltr">
	<p align="justify">
	  <div style="float:right; padding-left:10px;">
	    <img src="{% static 'images/aakashdbp.jpg' %}"
		 style=" width:300px;height=400px;"
		 class="img-thumbnail"/>
	  </div>
	  
	 भारतीय प्रौद्योगिकी संस्‍थान मुम्‍बई में संचालित<strong> आकाश परियोजना,</strong> 
	 आकाश टैबलेट पर बहुउपयोगी अनुप्रयोग विकसित करने के लिये समर्पित है। 
	 इस प्रौद्योगिकी के अभिनव प्रयास से नवीन अध्‍यापन तकनीक के लिये ई-विषयवस्‍तु तैयार करना एवं शिक्षकों को सक्षम बनाने का अनूठा प्रयास करना है। 
	 यह परियोजना मुख्‍यत: अभियांत्रिकी शिक्षा पर अभिकेंद्रित है, इसका प्रमुख उद्देश्य अनुभवी शिक्षकों एवं विद्यार्थियों की सृजनात्मक प्रतिभा के 
	 उपयोग से भारतीय भाषाओं में सभी स्‍तर के विद्यार्थियों मय विद्यालयीन स्तर के लिये अनुप्रयोग एवं शैक्षिणक सामग्री विकसित करना है।
	  <br /><br /></p>
      </div>
	
      
    </div>
  </div> <!-- col -->
</div> <!-- well -->
{% endblock body_block %}

