{% extends 'inner-base.html' %}
{% load static %}

{% block body_block %}
<div class="well">
  <div class="col-md-9">
    
    <h3><strong>परियोजनायें</strong></h3>
    <p align ="justify"> भारतीय प्रौद्योगिकी संस्‍थान मुम्‍बई द्वारा इस बैब पोर्टल का निर्माण देश के सभी आकाश दूरस्‍थ केंद्रों द्वारा किये जा रहे आकाश अनुप्रयोग सम्‍बंधी सम्‍पूर्ण अनुसंधान एवं विकास गतिविधियों के लिये एक केंद्रीय भंडार 
	के रूप में किया गया है।
	</br></br>
      भा.प्रौ.सं. मुम्‍बई में संचालित आकाश लैब का मुख्‍य उद्देश्‍य आकाश सम्‍बंधी बहुउपयोगी ओपन सोर्स अनुप्रयोग विकसित करना है।
	इसका क्षेत्र अतिव्‍यापक है, जिसके अंतर्गत विद्यालयीन शिक्षा से महाविद्यालयीन शिक्षा तक तथा व्‍यवसायिक प्रशिक्षण से
व्‍यवसायी अध्‍ययन तक फैला हुआ है। जिस बाबद भा. प्रौ. सं. द्वारा बहुत से अनुप्रयोग विकसित किये गये है।
      <br /><br /> 
	  हमारे पास लगभग 350 इंजीनियरिंग कालेज हमारे दूरस्‍थ आकाश केंद्र के रूप में आकाश सम्‍बंधी अनुप्रयोग विकसित करने हेतु अनुसंधान एवं विकास इकाई के रूप में कार्य कर रहे हैं।
	  हमारा उद्देश्‍य लगभग 500 इंजीनियरिंग कालेजों को इस अनुसंधान एवं विकास कार्य के लिये प्रेरित करते हुये दूरस्‍थ आकाश केंद्र के रूप में स्‍थापित करना है, 
	  साथ ही उन दूरस्‍थ आकाश केंद्रों के माध्‍यम से हजारों की तादाद् में व्‍यवसायी शिक्षा से जुडे छात्रों एवं शिक्षकों को उनके संस्‍थान में विस्‍तृत रूप से बहुउपयोगी आकाश अनुप्रयोग विकसित करने एवं उपयोग करने हेतु प्रेरित करना है।
	  <br />

      <table class="center table table-responsive table-bordered
		    table-striped"
	     border='1' align='center'>
	<tr>
	  <td><a href="/ac/" target="_parent">आकाश दूरस्‍थ केंद्र </a></td>
	  <td><a href="/ac/iitb/" target="_parent">परियोजनायें (भा. प्रौ. सं. - मुम्‍बई)</a></td>
	  <td><a href="/ac/projects/" target="_parent">परियोजनायें (संपूर्ण)</a></td>
	</tr>
      </table>

  </div> <!-- col -->
</div> <!-- well  -->
{% endblock body_block %}

