{% extends 'base.html' %}
{% load static %}

{% block title %}
- Login
{% endblock title %}

{% block body_block %}
<div class="container" style="padding-top:1.5cm;" align="center">
    <div class="page-header">
      <h1><small>लाग इन करें </small><strong> आकाश लैब पर</strong></h1>
    </div>
  
  <div class="col-md-4 col-md-offset-4 well">
      <form class="form-signin" role="form" id="login_form" method="post">
	{% csrf_token %}
	<i class="fa fa-user fa-5x"></i>
	<!-- error msg -->
	{% if messages %}
	{% for message in messages %}
	{% if message.tags == "error" %}
	<p class="text-danger" align="center"><strong>{{ message }}</strong></p>
	{% endif %}
	{% endfor %}
	{% else %}
	<h2 class="form-signin-heading">कृपया साईन इन करें </h2>
	{% endif %}

        <input name="यूजर का नाम " id="id_username" type="text" class="form-control"
	       placeholder="यूजर नाम देवें" required autofocus>
        <input name="पासवर्ड" id="id_username" type="password" class="form-control"
	       placeholder="पासवर्ड देवें" required>
	<br /><br />
        <!-- <label class="checkbox"> -->
        <!--   <input type="checkbox" value="remember-me">Remember me -->
        <!-- </label> -->
        <button class="btn btn-lg btn-primary btn-block"
		type="submit">जमा करें</button>
      </form>
</div>	   <!-- well -->
</div> <!-- /container -->

{% endblock body_block %}
