{% extends 'base.html' %}
{% load static %}

{% block title %}
- Activites
{% endblock title %}

{% block body_block %}
<div class="container" style="padding-top:1.5cm;">
  <div class="page-header">
    <h1> गतिविधियॉ <small>@ भारतीय प्रौद्योगिकी संस्‍थान मुम्‍बई</small></h1>
  </div>

  <p class="lead" align="justify"
     style="font-size:18px;">
    <strong>आकाश परियोजना</strong> का  <strong>भा. प्रौ. सं. मुम्‍बई </strong> में आरंभ  <strong>प्रो. दीपक भा. फाटक </strong>
    एवं  <strong>प्रो. कन्‍नन एम. मौदगल्‍या </strong> के मार्गदर्शन में हुआ था। आकाश परियोजना का मुख्‍य उद्देश्‍य आकाश टैबलेट हेतु <strong>शैक्षिक अनुप्रयोग एवं ई-शिक्षण सामग्री </strong>विकसित करना है।
    हमारा उद्देश्‍य इस आकाश परियोजना के माध्‍यम से आकाश टैबलेट का भिन्‍न -भिन्‍न गतिविधियों में उपयोग करना है। वर्तमान में भा. प्रौ. सं. मुम्‍बई में संचालित गतिविधियॉ इस प्रकार हैं :-
	 </p>

  <hr class="featurette-divider" style="margin:20px;">
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <!-- <h3 class="text-muted" align="center">Some of our featured projects</h3> -->
      
      <div class="col-sm-3 ">
	<a href="http://www.it.iitb.ac.in/aakashtechsupport/" target="_blank" ><img class="img-rounded well well-sm" src="{% static 'images/tech_support.png' %}" alt="तकनीकी सहायता"></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-3">
        <a href="http://www.spoken-tutorial.org" target="_blank"> <img class="img-rounded well well-sm" src="{% static 'images/spoken.png' %}" alt="Spoken Tutorials"></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-3">
        <a href="http://www.it.iitb.ac.in/nmeict" target="_blank"><img class="img-rounded well well-sm" src="{% static 'images/t10kt.png' %}" alt="T10KT"></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-3">
        <a href="http://www.it.iitb.ac.in/aakash2" target="_blank"> <img class="img-rounded well well-sm" src="{% static 'images/logistics.png' %}" alt="Aakash logistics logo"></a>
      </div><!-- /.col-lg-4 -->
      
    </div>

    <div class="row" >
      
      <div class="col-sm-3" >
        <a href="http://www.it.iitb.ac.in/clicker/" target="_blank" ><img class="img-rounded well well-sm"   src="{% static 'images/clicker1.png' %}" alt="Clicker logo"></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-3">
        <a href="http://www.it.iitb.ac.in/anides/" target="_blank" > <img class="img-rounded well well-sm"  src="{% static 'images/design_team.png' %}" alt="Design team logo"></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-3">
        <a href="http://oscad.in/" target="_blank"><img class="img-rounded well well-sm" src="{% static 'images/oscad.png' %}" alt="oscad logo"></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-3">
        <a href="" > <img class="img-rounded well well-sm" src="{% static 'images/rnd.png' %}" alt="Aakash R & D"></a>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <div class="row">
      <!-- <h3 class="text-muted" align="center">Some of our featured projects</h3> -->
      
      <div class="col-sm-3">
	<a href="http://www.it.iitb.ac.in/aakashlab/" target="_blank" ><img class="img-rounded well well-sm" src="{% static 'images/aakashlab.png' %}" alt="Aakash Lab"></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-3">
        <a href="" > <img class="img-rounded well well-sm" src="{% static 'images/school_education.png' %}" alt="School Education"></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-3">
        <a href="http://oscar.iitb.ac.in/oscarHome.do" target="_blank"><img class="img-rounded well well-sm" src="{% static 'images/oscar_logo.gif' %}" alt="Project OSCAR"></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-3">
        <a href="http://scilab.in/" target="_blank"><img class="img-rounded well well-sm" src="{% static 'images/scilab.png' %}" alt="Scilab"></a>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div> <!-- container marketing -->
</div> <!-- container -->

{% endblock body_block %}
