{% extends 'base.html' %}
{% load static %}

{% block title %}
- Contact us
{% endblock title %}

{% block body_block %}
<div class="container  footer_padding" style="padding-top:1.5cm;">
  <div class="page-header">
      <h1><i class="fa fa-phone"></i> संपर्क सूत्र |<small> हम यंहा आपके प्रश्‍नों एवं टिप्‍पणियों के उत्‍तर हेतु उपलब्‍ध है। विस्‍त़त विवरण हेतु  <a href="/faqs/">प्रश्‍नोत्‍तरी </a> देखें।.</small>
      </h1>
  </div>
  <div class="row">
    <div class="col-lg-6 well">
      <form role="form" id="contact-us" method="post"
	    enctype="multipart/form-data">
	{% csrf_token %}
	<!-- {{contactform.as_p}} -->
	<!-- Success/Error messages -->
	{% if messages %}
	{% for message in messages %}
	{% if message.tags == "success" %}
	<p class="text-info" align="center"><strong>{{ message }}</strong></p>
	{% else %}
	<p class="text-danger" align="center"><strong>{{ message }}</strong></p>
	{% endif %}
	{% endfor %}
	{% endif %} 
	<!-- Success/Error messages ends here -->
        <div class="form-group">
	  <!-- {{contactform.name.errors}} -->
          <label for="id_name">नाम </label>
	  {{contactform.name}}
        </div>

        <div class="form-group">
	  <!-- {{contactform.email.errors}} -->
          <label for="id_email">ई - मेल</label>
	  {{contactform.email}}
        </div>
        
        <div class="form-group">
	  <!-- {{contactform.message.errors}} -->
          <label for="id_message">संदेश</label>
	  {{contactform.message}}
        </div>

	<div class="form-group">
	  <label for="id_captcha">श्रजित कूट क्रमांक दर्ज करें</label>
	  {{contactform.captcha}}
        </div>
	
        <input type="submit" name="submit" class="btn btn-primary"
	       value="जमा करें" />

	<input type="reset" name="submit" class="btn btn-info"
	       value="नया फार्म श्रजित करें" />
      </form>
    </div>
    
    
    <div class="col-lg-6" align="center">
      <br><br><br><br>
      <span class="glyphicon glyphicon-home"></span>
      <address>
        <strong>आकाश लैब</strong><br>
        दूसरी मंजिल, पुराना कम्‍प्‍यूटर विज्ञान एवं अभियांत्रिकी भवन,<br>
        भारतीय प्रौद्योगिकी संस्‍थान - मुम्‍बई <br>
	पवई, मुम्‍बई, पिन - 400076,<br>
	महाराष्‍ट्र, भारत.<br>
      </address>

      <address>
	<span class="glyphicon glyphicon-phone-alt"></span>
        (+91) (022) 25764708, 25729403 कार्यालय " आकाश लैब "
      </address>    

      <address>
	<span class="glyphicon glyphicon-envelope"></span>
        <a href="mailto:aakashtechsupport@cse.iitb.ac.in">aakashprojects.iitb@gmail.com</a>
      </address>      
    </div>
    
  </div> <!-- row -->
</div><!-- /.container -->
{% endblock body_block %}

