{% extends 'base.html' %}
{% load static %}

{% block title %}
- GNU/Linux आकाश टैब पर
{% endblock title %}

{% block body_block %}
<div class="container  footer_padding" style="padding-top:2.5cm;">
  <div class="page-header">
    <h1><i class="fa fa-linux"></i> आकाश टैब पर  <small> GNU/Linux </small>
    </h1>
  </div>

  <div class="container marketing">

    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"></h2>
        <p class="lead" align="justify">		आकाश टैबलेट में ऐंड्राईड एवं GNU/Linux दोनों का उपयोग किया जा सकता है। GNU/Linux को एक वाह्य एस. डी. कार्ड पर बर्न कर उपयोग करने पर आंतरिक रूप से आच्‍छादित ऐंड्राईड पर कोई प्रभाव नहीं पडता है। 		आकाश टैब के साथ डेबिन पैकेज मैनेजर होने के कारण यह किसी भी GNU अनुप्रयोगों  के साथ बिना किसी परिवर्तन के कार्य करने में सक्षम है।
	   आकाश टैब पर लिनक्‍स के विभिन्‍न वितरण जैसे 	   <a href="https://github.com/androportal/linux-on-aakash/tree/debian">Debian</a>,
	  Linaro, <a href="http://androportal.github.io/linux-on-aakash/">Ubuntu</a>
	  एवं Fedora के कार्य करने का परीक्षण किया जा चुका है।  'GNU/Linux आकाश टैब पर '	   कैसे पोर्ट करें, इस बारे में विस्‍तृत जानकारी के लिये देखें...
	  <a href="/pubs"> प्रकाशन </a> ।
	</p>

	<p><a class="btn btn-success" href="http://androportal.github.io/linux-on-aakash/"
	      role="button">दस्‍तावेज... &raquo;</a></p>
      </div>

      <div class="col-md-5">
        <img class="featurette-image img-responsive img-rounded"
	     src="{% static 'images/linux1.png' %}" alt="linux">
      </div>
    </div>

    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive img-rounded"
	     src="{% static 'images/expeyes.jpg' %}" alt="expeyes">
      </div>
      
      <div class="col-md-7">
        <h2 class="featurette-heading">expEYES</h2>
        <p class="lead" align="justify">
	  <a href="http://www.expeyes.in/">expEyes</a> 	  यह प्रयोग एवं खोज के माध्‍यम से विज्ञान को जानने का एक माध्‍यम है। यह आकाश टैब पर 50 दस्‍तावेजों के परीक्षण का कार्य कर सकता है। 	  यह एक हार्डवेयर एवं सफ्टवेयर फ्रेमवर्क है, जिसके माध्‍यम बिना किसी इलेक्‍ट्रानिक एवं कम्‍प्‍यूटर प्रोग्रामिग जाने ही विज्ञान के अनुप्रयोग विकसित करने, प्रदर्शित करने का कार्य किया जा सकता है। 	  यह आकाश टैब को एक विज्ञान की प्रयोगशाला में परिणित करता है। 	  
	</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Oscad</h2>
        <p class="lead" align="justify">
	  <a href="http://www.oscad.in">औसकैड "Oscad"</a> 	  औसकैड सर्किट डिजानईन, सिमूलेशन, विषलेशण एवं पी.सी.वी. डिजाईन के लिये ओपर सोर्स ई. डी. ए. टूल है। 	  यह एक समाकलित युक्ति है, जिसे कुछ ओपन सोर्स साफ्टवेयरों जैसे 	  <a href="http://www.kicad-pcb.org">KiCad</a>, <a href="http://ngspice.sourceforge.net">Ngspice</a>
	  एवं <a href="http://www.scilab.org">Scilab</a> से उपयोग से बनाया गया है। निम्‍न छवि  Oscad(Ngspice simulation)	  आकाश टैब पर कार्य करता दिखाया गया है।
	</p>
      </div>

      <div class="col-md-5">
        <img class="featurette-image img-responsive img-rounded"
	     src="{% static 'images/oscad-setup.png' %}" alt="oscad">
      </div>
    </div>

    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive img-rounded"
	     src="{% static 'images/anuduino.png' %}" alt="expeyes">
      </div>
      
      <div class="col-md-7">
        <h2 class="featurette-heading">अनुडिनों "Anuduino"</h2>
        <p class="lead" align="justify">
	  य‍‍ह एक दो डालर 	  <a href="http://www.arduino.cc/"> अनुडिनो संगत यू.एस.वी. विकास बोर्ड है।</a>
	  जिसे भारतीय प्रौद्योगिकी संस्‍थान मुम्‍बई में विकसित किया गया है, यह ATtiny-85 माईक्रो कंट्रोलर पर आधारित है। सम्‍बंधित छवि उक्‍त युक्ति द्वारा कक्ष के तापमान को मापने की विधि प्रदर्शित करती है।
	  अनुडिनों युक्ति को बनाने की विधि के लिये निम्‍न
	  <a href="https://github.com/androportal/anuduino/blob/master/doc/getting_started.rst"> दस्‍तावेज </a>
	  का अवलोकन करें।
	</p>
      </div>
    </div>

    <hr class="featurette-divider">

  </div> <!-- marketing -->
</div><!-- /.container -->
{% endblock body_block %}
