{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<div class="container index footer_padding" style="padding-top:2.5cm;">
  <div class="container-fluid"  >
    <div class="row-fluid ">
<div class="container container_content" >
      <div class="col-md-3">
	<div class="well well-sm sidebar" >
	  {% block sidebar %}
	<ul class="nav  ">
	  <li class="active"><a href="/home/introduction" target="content" style="padding-top:2px">प्रस्‍तावना</a></li>
	<!--  <li><a href="/home/proposal" target="content" style="padding-top:2px">Proposal by IITB</a></li> -->
	  <li><a href="/home/history" target="content" style="padding-top:2px">आकाश का इतिहास</a></li>
	  <li><a href="/home/configuration" target="content" style="padding-top:2px">तकनीकी प्रारूप</a></li>	
	  <li><a href="/home/distribution" target="content" style="padding-top:2px">टैबलेट वितरण एवं जांच</a></li>
	  <li><a href="/home/training" target="content" style="padding-top:2px">प्रशिक्षण कार्यक्रम</a></li>
<li><a href="/home/sidebar_projects" target="content" style="padding-top:2px">परियोजनायें</a></li>

	<!--	  <li><a href="/home/research" target="content" style="padding-top:2px">Research & Developement</a></li> -->
	  <li><a href="/home/future" target="content" style="padding-top:2px">आकाश का भविष्‍य</a></li>  
	  
	  <li><a href="http://www.cse.iitb.ac.in/" target="_blank" style="padding-top:2px">कार्यालयीन   ई - मेल</a></li>   
	  <!-- <li><a href="http://drona.ircc.iitb.ac.in/ircc/" target="_blank" style="padding-top:2px; display:inline;"> द्रोणा</a> एवं <a href="http://asc.iitb.ac.in/acadmenu/index.jsp" target="_blank" style="padding-top:2px; display:inline;">ए. एस. सी. </a></li>   -->
	 </ul>
	  {% endblock sidebar %}
	</div>
      </div>
      
	<div class="col-md-9" >
	<!-- <div class="well" style=" overflow-y:scroll;"> -->
	  {% block content %}
		<iframe name="content" class="well" src="/home/introduction" width="100%" height="100%">
 			 <p>Your browser does not support iframes.</p>
		</iframe>

	  {% endblock content %}
	<!-- </div> -->
      </div>
</div>

<!-- News section &middot; -->
<div class="col-md-12" style="padding-top:0.5cm" >
  <div class="well well-sm news">
    <p><strong>खबरें एवं घटनायें:</strong></p>
    <marquee behavior="scroll"
	     direction="left"
	     scrollamount="3">
	<p>
	
	  हम शीघ्र ही आनलाईन होने जा रहे हैं। अत: समस्‍त दूरस्‍थ आकाश केंद्र संयोजकों से अनुरोध है, कि वे अपने apps बैबसाईट पर अध्‍यतित करना सुनिश्चित करें।
	</p>
    </marquee>
  </div>
</div>


    </div> <!-- row-fluid -->
  </div> <!-- container-fluid -->
</div>	 <!-- container -->

{% endblock body_block %}
