{% extends 'base.html' %}
{% load static %}

{% block title %}
-  AADL
{% endblock title %}

{% block body_block %}
<div class="container footer_padding" style="padding-top:1.5cm;">
 <div class="page-header">
      <h1> गतिविधियॉ <small>@ आकाश अनुप्रयोग विकास प्रयोगशाला</small>
      </h1>
  </div>
 <p class="lead" align="justify" style="font-size:18px;">माह अगस्‍त सन 2012 में , <strong>प्रो. झुनझुनवाला </strong> द्वारा <strong>
आकाश अनुप्रयोग विकास प्रयोगशाला (AADL)</strong>की स्‍थापना कुछ और भा. प्रौ. सं. में भी की गई थी।</br> 
जिसके माध्‍यम से लगभग पॉच भा. प्रौ. सं. में यह अनुप्रयोग विकास कार्य संतोषजनक रूप से किया जा रहा है। हमारे द्वारा हमारे 300 से अधिक <strong>
दूरस्‍थ आकाश केंद्रों (APCs)</strong> की स्‍थापना की गई है, जिनके माध्‍यम से आकाश टैबलेट पर अनुप्रयोग विकसित करने हेतु प्रस्‍तावित किया गया। </br></br> 
हमारे इन आकाश दूरस्‍थ केंद्रों में आकाश टैबलेट पर अनुप्रयोग विकास कार्य प्रगति पर है। 
हमारे द्वारा अधिकांश दूरस्‍थ आकाश केंद्रों से आकाश टैबलेट पर अनुप्रयोग विकास कार्य आरंभ करने की आधिकारिक सूचना इस परियोजना क्रियान्‍वयन इकाई को प्राप्‍त हो चुकी है। 
जिनका कार्य पूर्ण होने के उपरांत हमारे आधिकारिक केंद्रीय भंडार में अद्यतित किया जाना आरंभ कर दिया गया।
 </br>
एैसा अनुमान लगाया जा रहा है, कि आगामी शैक्षणिक सत्र में इन आकाश दूरस्‍थ केंद्रों द्वारा कम से कम एक विषय आकाश टैबलेट के माध्‍यम से पढाया जावेगा। 
 </p>

<hr class="featurette-divider" style="margin:20px;">
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
	<!-- <h3 class="text-muted" align="center">Some of our featured projects</h3> -->
	
	<div class="col-sm-3 ">
	<a href="http://www.iitg.ernet.in/cseweb/aakashlab/" target="_blank" ><img class="img-rounded well well-sm" src="{% static 'images/iitg.png' %}" alt="IIT Guwahati"></a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3">
        <a href="http://cse.iitkgp.ac.in/conf/waadat/" target="_blank"> <img class="img-rounded well well-sm" src="{% static 'images/iitkgp.png' %}" alt="IIT Kharagpur"></a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3">
         <a href="http://www.iitmandi.ac.in/friendsofiitmandi/read.php?1,91,91" target="_blank"><img class="img-rounded well well-sm" src="{% static 'images/iitmandi.png' %}" alt="IIT Mandi"></a>
        </div><!-- /.col-lg-4 -->
<div class="col-sm-3">
         <a href="http://www.ee.iitm.ac.in/~ee09b044/projects.html#android" target="_blank"><img class="img-rounded well well-sm" src="{% static 'images/iitm.png' %}" alt="IIT Madras"></a>
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->

<div class="row" >
	
	<div class="col-sm-3" >
         <a href="http://www.iitk.ac.in/" target="_blank" ><img class="img-rounded well well-sm"   src="{% static 'images/iitk.png' %}" alt="IIT Kanpur"></a>
        </div><!-- /.col-lg-4 -->
 <div class="col-sm-3">
        <a href="http://www.iitd.ac.in/" target="_blank"> <img class="img-rounded well well-sm" src="{% static 'images/iitd.png' %}" alt="IIT Delhi"></a>
     
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->

</div>
</div>
{% endblock body_block %}
