{% extends 'base.html' %}
{% load static %}

{% block title %}
- Profile: {{user}}
{% endblock title %}

{% block body_block %}
<div class="container" style="padding-top:2.5cm;">
  <div class="page-header">
      <h1><i class="fa fa-pagelines"></i> विवरण
	<small>
	  | Welcome {{user.first_name|capfirst}}
	  {{user.last_name|capfirst}}(<strong>{{user.username}}</strong>)
	  | <a href="/user/profile/edit/"><em class="text-info">अपना विवरण अद्यतित /परिवर्तित करें ...</em></a>
	</small>
      </h1>
  </div>

  {% if user.is_superuser %}
  <p><a href="/admin/">जेंगों का प्रशासनिक पृष्‍ठ ... </a></p>
  {% endif %}
  {% if user.is_staff %}
  <p><a href="/ac/register/">नया दूरस्‍थ आकाश केंद्र दर्ज करें ...</a></p>
  {% endif %}
  <p><a href="/ac/project/add/">नई आकाश परियोजना जोडें ...</a></p>
  <p><a class="text-danger" href="/user/password/change/">
      पासवर्ड परिवर्तित करें ...
    </a>
  </p>
</div>
{% endblock body_block %}
