{% extends 'base.html' %}
{% load static %}

{% block title %}
-  Tutorials
{% endblock title %}

{% block body_block %}
<div class="container footer_padding" style="padding-top:2.5cm;">
	<div>
		<div>
			<div >
				<h2>स्‍थल मानचित्र</h2>
			</div>		
			<div class="container">				
				<div>
					<div>
						<div>
   							<div >
      								<div class="col-sm-4"><h4>मेन मीनू</h4>
									<div>
									  <ul>
									      <li><a href="/">आकाश लैब</a></li>
									      <li><a href="/">मुख्‍य पृष्‍ठ</a></li>
									      <li>
										आकाश परियोजनायें 
										 <ul>
										     <li><a href="/ac/projects/">परियोजनायें (संपूर्ण)</a></li>
                                                                                     <li><a href="/ac/iitb/">परियोजनायें (भा.प्रौ.सं. मुम्‍बई)</a></li>
										     <li><a href="/gnu/">जी.एन.यू./Linux आकाश पर</a></li>
									         </ul>
									      </li>
									      <li>गतिविधियॅा भा.प्रौ.सं. मुम्‍बई 
										 <ul>
									             <li><a href="/activities/">भा.प्रौ.सं. मुम्‍बई</a></li>
									             <li><a href="/others/">आकाश अनुप्रयोग विकास प्रयोगशाला</a></li><!-- Others -->
									         </ul>
									      </li>
									      <li><a href="/faqs/">प्रश्‍नोत्‍तरी</a></li>
									      <li>अधिक जानकारी</li>
										<ul> <li><a href="/ac/">आकाश केंद्र</a></li>
									             <li><a href="http://docs.aakashlabs.org">दस्‍तावेज</a></li>
									             <li><a href="/pubs/">लेख एवं प्रकाशन</a></li>
										     <li><a href="/tutorials/">ई-शिक्षण</a></li>
										     <li><a href="/compete/">प्रतियोगितायें</a></li>
									            <!-- <li><a href="">समाचार</a></li>-->
									         </ul>
									      <li><a href="/contact/">संपर्क सूत्र</a></li>
									      <li><a href="/login/">लाग इन</a></li>
									      <!-- <li><a href="http://www.iitb.ac.in/">IITB</a></li> -->
									 </ul>
								</div>
							</div>
							<div class="col-sm-4"><h4>बांया भाग</h4>
								<div>
									<ul>    <li><a href="/">प्रस्‍तावना</a></li>
										<!--<li><a href="/">Proposal by IITB</a></li>-->
										<li><a href="/">आकाश का इतिहास</a></li>
										<li><a href="/">तकनीकि प्रारूप</a></li>
										<li><a href="/">टैबलेट वितरण एवं जांच</a></li>
										<li><a href="/">प्रशिक्षण कार्यक्रम</a></li>
										<li><a href="/">परियोजनायें</a></li>
										
									<!--	<li><a href="">Research &amp; Development</a></li> -->
										<li><a href="/">आकाश का भविष्‍य</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4"><h4>फूटर मीनू</h4>
								<div>
									<ul>    <li><a href="http://mhrd.gov.in/">मानव संसाधन विकास मंत्रालय (भारत सरकार)</a></li>
										<li><a href="https://github.com/iitbaakash">गिट हब</a></li>
										<li><a href="http://www.google.com/">गूगल ग्रुप </a></li>
										<li><a href="http://www.facebook.com/">फेसबुक</a></li>
										<li><a href="http://www.youtube.com/user/theaakashtablet">यू-ट्यूब</a></li>
										<li><a href="http://www.sakshat.ac.in/">एन.एम.ई.आई.सी.टी. (भारत सरकार)</a></li>
									</ul>
								</div>
							</div>   
						</div>
  					</div>
				</div>
			</div>
			
        	</div>
 	</div>	
</div> 
</div> 

{% endblock body_block %}


